<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="d-flex flex-wrap">
      <div>
        <h1 class="display-3">Mountain Scholar</h1>
	<p class="lead">Mountain Scholar is an open access repository service that collects, preserves, and provides access to digitized library collections and other scholarly and creative works from Colorado State University and the University Press of Colorado. It also serves as a dark archive for the Open Textbook Library.</p>
      </div>
    </div>
  </div>
</div>
